# Ignore some static files and directories.
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/videos
!/modules/videos/*
/themes/*
!/themes/admin_default/css/videos.css
!/themes/admin_default/js/videos.js
!/themes/admin_default/js/videos_*.js
!/themes/admin_default/images/videos
!/themes/admin_default/images/videos/*
!/themes/admin_default/modules/videos
!/themes/admin_default/modules/videos/*
!/themes/default/css/videos.css
!/themes/default/js/videos.js
!/themes/default/js/videos_*.js
!/themes/default/images/videos
!/themes/default/images/videos/*
!/themes/default/modules/videos
!/themes/default/modules/videos/*
!/uploads/videos/template
!/uploads/videos/template/*
/.project